# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.sqlite3
*.log
.env
.env.*
!.env.example

# Virtual environment
backend/venv/
backend/staticfiles/
backend/media/

# Node / React
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
